.detail-four-container {
  height: 100%;
  text-align: center;
  .title-txt {
    font-size: 57px;
    color: rgba(255, 255, 255, 1);
  }

  .subtitle-txt {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 24px;
    color: rgba(255, 255, 255, .9);
  }

  .img-row {
    display: flex;
    justify-content: center;

    img {
      width: 468px;
      height: 476px;
    }
    
  }

  .btn-row {
    position: fixed;
    bottom: 11%;
    left: 50%;
    transform: translateX(-50%);
    
    .btn1 {
      padding: 7px 40px;
      font-size: 18px;
      color: rgba(255, 255, 255, 1);
      background-color: rgba(39, 203, 142, 1);
      border-radius: 8px;
      cursor: pointer;
    }

    .btn2 {
      padding: 7px 40px;
      font-size: 18px;
      color: rgba(255, 255, 255, .6);
      background-color: rgba(103, 103, 103, 1);
      border-radius: 8px;
      cursor: pointer;
    }
  }

  
}